@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    padding: 0px 256px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding: 8px;
}

.header-links {
    padding: 8px;
}

.header-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-links li {
    list-style-type: none;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    align-items: center;
    color: #f9faf8;
    padding: 64px 256px;
    gap: 128px;
}

.hero-text {
    font-size: 48px;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-left {
    max-width: 43%;
}


.hero-subtext {
    margin-bottom: 32px;

    font-size: 18px;
    color: #e5e7eb;
}

.hero-right {
    max-width: 57%;
}

.hero-image img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

button {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding: 8px 32px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0;
    border-radius: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 64px 256px;
    min-height: 500px;
}

.info-header {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    text-align: center;
}

.card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.card-text {
    padding: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    min-height: 500px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding: 64px 360px;
}

.quote-name {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    width: 100%;
    text-align: right;
    margin-right: 700px;
}

.cta-container {
    display: flex;
    padding: 64px 128px;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.cta-card {
    display: flex;
    padding: 56px 72px;
    gap: 256px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 16px;
}

.cta-left {
    display: flex;
    flex-direction: column;
}

.cta-header ,.cta-text {
    color: white;
}

.cta-header {
    font-size: 24px;
    font-weight: 900;
}

.cta-right {
    display: flex;
}

.cta-right button {
    outline: white solid 1px;
    color: white
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 32px;
}