@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    width: 100%;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding: 8px;
}

.header-links {
    padding: 8px;
}

.header-links > ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-links > ul > li {
    list-style-type: none;
}

.header-links > ul > li > a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1F2937;
    display: flex;
    color: #f9faf8;
    padding: 32px;
}

.hero-text {
    font-size: 48px;
}

.hero-image > img {
    max-width: 480px;
}

.header-button > button {
    padding: 8px 16px;
}
